@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('bea-iconfont.ttf?t=1713419995271') format('truetype');
}

.bea-iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bea-icon-dingdan:before {
  content: "\101a9";
}

.bea-icon-close-small:before {
  content: "\e68c";
}

